[Unit]
Description=Wayle Video Wallpaper Engine (mpvpaper + awww)
After=graphical-session.target wayland-session.target

[Service]
ExecStartPre=/bin/bash -c 'while [ -z "$(systemctl --user show-environment | grep WAYLAND_DISPLAY)" ]; do sleep 1; done'
ExecStart=/usr/bin/python3 %h/.config/wayle/wayle_video_engine.py
Restart=always
RestartSec=3

[Install]
WantedBy=default.target